form.search {
    overflow: auto;
    margin-bottom: 10px;
  }
  form.search button[type="submit"] {
    float: right;
    margin-top: 10px;
  }
  .search {
    align-items: left;
  
    position: center;
    
  }
  
  
  .form-group {
   width: 25%;
   margin-left: 400px;
   margin-top: 75px;
 }
 label {
   font-weight: bolder;
   color: Brown;
 }
 .hero:after {
   
   background-color: transparent;
 }
 body {
   background-color: cornflowerblue;
   
 }
 
