form.search {
    overflow: auto;
    margin-bottom: 10px;
  }
  form.search button[type="submit"] {
    float: right;
    margin-top: 10px;
  }
 .form-control {
   width: 25%;
   display: center;
 }
 label {
   font-weight: bolder;
 }
 .hero:after {
   
   background-color: transparent;
 }
 body {
   background-color: cornflowerblue;
   border: 5px solid slategray;
 }
 
