.footer {
    height: 60px;
    background-color: lightslategray;
    border: 2px solid darkgray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
    h6 {
    text-align: center;
  }
  .footer-text {
    text-align: center;
    font-family: serif;
    font: cursive;
    font-size: 10px;
  }
 